.my_col {
    background-color: #0b2f33;
    color: #ffffff;
    font-size: larger;
    text-align: center;
    border-radius: 40px;
    margin: 12px;
    padding: 12px;
}
.my_row {
    height: 360px;
    background-color: #babbbc;
}
