body {
  margin: 20px;
  height: 100vh;
}
@font-face {
  font-family: "PlayfairDisplay-Mid";
  src: url("static_fonts/PlayfairDisplay-Medium.ttf");
}
* {
  font-family: PlayfairDisplay-Mid, serif;
  font-size: large;
}
#d1 {
  font-family: PlayfairDisplay-Mid, serif;
  font-size: large;
  color: #d7d8da;
}
